.main_div3{
    display: flex;
    justify-content: center;
}
.main_div3 tr{
    position: relative;
}
.main_div3 button {
    height: 180px;
    width: 180px;
    font-size: 150px;
    font-weight: bold;
    color: red;
    -webkit-text-stroke: 1.5px black;
    grid-row: span 1;
    grid-column: span 1;
    border: 3px solid rgb(130, 130, 130);
    padding: 3px;
    background-color: white;
}
.boardVis{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
#winner {
    font-size: 60px;
    font-weight: bold;
    color: red;
    -webkit-text-stroke: 1.5px black;
    text-transform: uppercase;
}
.button1{
    background: url('../../images/dibus/bulbasaur.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.button2{
    background: url('../../images/dibus/squirtle.png');
    background-size: cover;
    background-position: center;
    background-position-y: 0px;
    background-repeat: no-repeat;
}
.button3{
    background: url('../../images/dibus/charmander.png');
    background-size: cover;
    background-position: center;
    background-position-y: -5px;
    background-repeat: no-repeat;
}
.button4{
    background: url('../../images/dibus/pikachu.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.button5{
    background: url('../../images/dibus/snorlax.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.button6{
    background: url('../../images/dibus/evee.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.button7{
    background: url('../../images/dibus/arcanine.png');
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
}
.button8{
    background: url('../../images/dibus/gastly.png');
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
}
.button9{
    background: url('../../images/dibus/geodude.png');
    background-size: 190px;
    background-position: center;
    background-repeat: no-repeat;
}
