body {
    font-family: 'cascadia code';
    font-weight: bold;
    background: linear-gradient(-45deg, rgb(160, 160, 160), rgb(255, 255, 255), rgb(160, 160, 160), rgb(255, 255, 255), rgb(160, 160, 160), rgb(255, 255, 255));
    background-size: 400% 400%;
    animation: fondoLive 2.5s ease infinite;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 1, 1);
    border-bottom: 3px solid rgb(90, 90, 90);
}
.header__logoPokemon {
    width: 400px;
    height: 300px;
}
h1 {
    font-size: 125px;
    color: rgb(90, 90, 90);
    -webkit-text-stroke: 1.5px white;
}
.main {
    margin: 20px auto;
    min-height: 760px;
}
.main__div1{
    display: flex;
    justify-content: space-around;
    padding: 2%;
    padding-bottom: 4%;
}
.main__div1 button{
    background-color: transparent;
    border: none;
}
.main__div1 img{
    width: 100px;
    height: 100px;
    margin-left: 20%;
    animation: roll 2s 3;
}

#gameboy, #shiny{
    animation: move 0.4s 10;
}

.main__div1 h2{
    font-size: 22px;
    padding-top: 3%;
    color: rgb(90, 90, 90);
}
.main__div2_formPokeFinder{
    display: flex;
    justify-content: center;
    gap: 3%;
}
.main__div2_formPokeFinder h2{
    font-size: 26px;
    color: rgb(90, 90, 90);
}
.main__div2_formPokeFinder input{
    border: 2px solid rgb(90, 90, 90);
    width: 600px;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(90, 90, 90);
}
.main__div2_formPokeFinder button{
    margin-top: -25px;
    margin-left: -20px;
    border: 2px solid rgb(90, 90, 90);
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: transparent;
    border: none;
}
.pokedex-boton{
    width: 90px;
    height: 90px;
    margin-top: -5px;
    margin-left: -11px;
}
.main__div2_list-pokemons{
    margin: auto 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 30px;
}
.icons-and-types {
    margin: auto 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 30px;
}
.card-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .card-container {
    transform: rotateY(180deg);
}
.pokemon_card,
.card-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0%;
    display: block;
}
.card-back h3{
    max-width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 7px;
    font-weight: bold;
}
.pokemon_card, .card-back{
    margin: auto 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    width: 225px;
    height: 225px;
    border: 1.5px solid red;
    border-bottom: 50px solid red;
}
.only_type{
    font-size: 25px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    height: 100px;
    background-color: white;
    border: 1.5px solid red;
    border-bottom: 25px solid red;
}
.only_type h3{
    padding: 3px;
}
.features{
    display: block;
    justify-content: center;
    gap: 5px;
    border: 1px solid grey;
    font-size: 16px;
}
.features p{
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}
.pokemon_card h3{
    background-color: rgb(130, 130, 130);
    font-size: 18px;
    padding: 2% 15% 2% 15%;
    color: white;
    border-radius: 30%;
}
.image_card{
    background-color: rgb(200, 200, 200);
    border-radius: 65px;
    grid-row: span 1;
}
.pokemon_card img{
    width: 150px;
    height: 150px;
}
.pokemon_completeCard{
    margin: auto 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    width: 550px;
    height: 550px;
    border: 2px solid red;
    border-bottom: 100px solid red;
    font-size: 20px;
}
.pokemon_completeCard h3{
    background-color: rgb(130, 130, 130);
    font-size: 30px;
    padding: 2% 15% 2% 15%;
    color: white;
    border-radius: 30%;
}
.image_completeCard{
    background-color: rgb(200, 200, 200);
    border-radius: 105px;
    grid-row: span 1;
}
.pokemon_completeCard img{
    width: 300px;
    height: 300px;
}
.pokemon_completeCard img{
    width: 300px;
    height: 300px;
}
.board{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.board button{
    grid-row: span 1;
    width: 200px;
    height: 200px;
}
.footer{
    padding: 20px;
}
.footer div{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}
.footer__div h2{
    font-size: 24px;
    color: rgb(90, 90, 90);
}
.footer__div span{
    color: rgb(90, 90, 90);
    font-size: 26px;
}